.Main{
    width:100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Cards{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 21vh;
        align-items: center;
        width: 100vw;
        color: black;
        gap: 5px;
    }
}

.search_box{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(110, 106, 106, 0.795);
    border-radius: 20px;
    position: fixed;

    input{
        width: 80%;
        height: 40px;
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 0 10px;
        font-size: 1.2rem;
    }

}

//large and mdium screens
@media (min-width: 768px) {
    .Main{
        .Cards{
            margin-top: 25vh;
        }
    }

}